.cardTotal{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: var(--white);
}

.cardTotal div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardTotal div h1{
    font-size: 2em;
}

.cardTotal div span{
    font-size: 1.3em;
}

@media (max-width: 999px){
    .cardTotal div h1{
        font-size: 1.8em;
    }
}

@media (max-width: 750px) {
    .cardTotal div h1{
        font-size: 1.6em;
    }
    
    .cardTotal div span{
        font-size: 1.1em;
    }
}