:root{
  --color1: #13b459;
  --black: #111111;
  --white: #fafafa;
}

html{
  scroll-behavior: smooth;
  overflow-x:hidden;
}

body::-webkit-scrollbar {
  width: 12px;          
}

body::-webkit-scrollbar-track {
  background: var(--white);       
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color1);
  border: 2px solid var(--white);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  transition: all ease .4s;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none
}